<div class="row">
    <div class="col-md-2"></div>
    <div id="content" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-primary">
                    {{!-- <div class="panel-heading">
                        <h2 id="title" class="text-center">NBA Scrape</h2>
                    </div> --}}
                    <div class="panel-body">
                        <img id="image" src="https://external-preview.redd.it/0B8BFvkHf7Vp9HfHj2oezjDymTFQDPvp1hgEcOqZ06s.gif?format=png8&s=b7d07a46db31eb8e028a90dd6ad9816900fe64ab" alt="title" class="img-thumbnail center-block hidden">
                        <p id="summary" align="center">Sorry. Unable to find page.</p>
                        <p><button id="getArticles" class="btn btn-primary blue">Read Articles</button></p>
                    </div>
                    <div class="panel-footer">
                        <div id="navigation">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>